*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow: hidden;
}

.title{
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    margin: 0;
    flex-direction: column;
}


.subtitle {
    margin-top: .5rem;
}


.hide{
    display: none;
}


.lebron{
    --lebron-top:-1000;
    --lebron-size:60px;
    position: absolute;
    background-image: url("resources/8bit\ lebron.jpg");
    background-size: 60px;
    width: var(--lebron-size);
    height: var(--lebron-size);
    left: var(--lebron-size);
    top: calc(var(--lebron-top)* 1px);
    border-radius: 50%;
    ;
}

.ship {
    --ship-width:120;
    --ship-left:100;
    --hole-top:500;
    --hole-height:120;
    top: 0;
    bottom: 0;
    position: absolute;
    width: calc(var(--ship-width)*1px);
    left: calc(var(--ship-left)*1px);
}

.ship > .segment{
    position: absolute;
    width: 100%;
    background-color: darkgreen;
}

.ship > .top{
    top: 0;
    bottom:calc(var(--hole-top)*1px); ;
}

.ship  > .bottom{
    bottom: 0;
    top:calc(100vh - (var(--hole-top)*1px) + calc(var(--hole-height)*1px)); 
}